/Logs/
/Library/
/Temp/
/UserSettings/
.vscode/settings.json
Assembly-CSharp.csproj
Breakdown-Breakout-COMP-7051.sln
ProjectSettings/Packages/com.unity.testtools.codecoverage/Settings.json
ProjectSettings/Packages/com.unity.testtools.codecoverage/Settings.json
